@charset "utf-8";
/* CSS Document */
@import url("reset.css");
a{
	cursor:pointer;
}
/*---------------------------------------通用样式 begin--------------------------------------------------*/
input[type="checkbox"],
input[type="radio"]{
	vertical-align:-2px;
}
.bodytype{
	margin:20px 20px;
	min-width:785px;
}
.clear{
	clear:both;
}
/*--------圆角蓝色背景按钮-------*/
.buttontype_01{
	border-radius:3px;
	background:#0893eb;
	padding:4px 12px;
	border:none;
	color:#FFF;	
	font-size:12px;
	font-family:"微软雅黑"，"宋体";
}
.buttontype_01:hover{
	cursor:pointer;
}
/*--------表格内操作按钮-------*/
.buttontype_02{
	border:none;
	background:#f0f0f0;
	border: #CCC solid 1px;
	font-family:"微软雅黑"，"宋体";
}
.buttontype_02:hover{
	cursor:pointer;
	background:#f3fcff;
}
/*---------黑色背景按钮----------*/
.buttontype_03{
	border-radius:3px;
	background: #999;
	padding:4px 12px;
	border:none;
	color:#FFF;	
	font-size:12px;
	font-family:"微软雅黑"，"宋体";
}
.buttontype_03:hover{
	cursor:pointer;
}
/*------------.tabletype_01结果表--------------*/
.tabletype_01{
	width:100%;
}
.tabletype_01 thead{
	width:100%;
	background:#CCCCCC;
	font-size:14px;
	height:30px;
}
.tabletype_01 thead th{
	font-size: 13px;
	font-weight: bold;
	background-color: #F7F7F7;
	border-top: 1px solid #E5E5E5;
	color: #7D7D7D;
	padding: 2px 2px 2px 2px;
	border-bottom: 1px solid #E5E5E5;
	line-height: 30px;
	text-align:center;
}

.tabletype_01 tbody td{
	padding: 6px 10px 6px 5px;
	border-bottom: 1px solid #E5E5E5;
	font-size: 13px;
	line-height: 16px;
	text-align:center;
	padding: 2px 2px 2px 2px;
	color:#5D5D5D;
    vertical-align:middle;
	text-align:center;
}
.tabletype_01 tbody td a{
	font-size:13px;
}
.tabletype_01 tbody tr:hover{
	background:#E8F5FD;
}
.tabletype_01 tbody input[type="button"]{
	border: 1px solid #a7a7a6;
	background: #f2f2f2;
	cursor:pointer;
}
/*---------------------------------------通用样式 结束--------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------登录页面--开始--------------------*/
#login_container{
	margin:0px;
	font-family:"微软雅黑";
	font-size:14px;
}
#login_container a:link,a:visited{
	text-decoration:none;
	color:#7b7b7b;
}
#login_container a:hover{
	color:#7b7b7b;
	text-decoration:underline;
}
#login_bg{
	height:500px;
	background:url(../images/login_bg.png) repeat-x;
}
#login_text_bg{
	width:960px;
	height:500px;
	margin:0px auto;
	background-image:url(../images/login_bg_img.png);
	background-position: top center;
	background-repeat:no-repeat;	
}
#login_text_bg p{
	padding:15px 0px 0px 110px;
}
#login_text_bg p a:link,#login_text_bg p a:visited,#login_text_bg p a:hover{
	color:white;
}
/*login_text   登录页面的表单部分*/
#login_text{
	float:right;
	width:260px;
	text-align:left;
	margin:100px 0px 0px 0px;
	background-color:#e7e7e7;
	padding:40px 0px;
}

#login_text p{
	margin:0px 0px 0px 25px;
	padding:0px;
	background:url(../images/login_text_logo.gif) no-repeat;
	background-color:#e7e7e7;
}
#login_text p span{
	margin-left:10px;
}
/*table   设置表格属性并加入表单*/
#login_text table{
	margin:20px 0px 0px 35px;
	text-align:left;
	color:#7B7B7B;
}
#login_text table ul{
	padding-top:12px;
}
#login_text table ul li{
	float:left;
	height:27px;
	line-height:27px;
}

#login_text table tr td{
	padding-bottom:5px;

}
#login_text table tr td input[type="checkbox"]{
	margin:10px 3px 0px 5px; 
}
#login_text table tr td  span{
	margin-right:20px;
}
#login_text table tr td ul li a{
	margin:0px 15px 0px 5px;
}
#login_text table tr td input[type="button"]{
	width:90px;
	height:26px;
	border:none;
	background:url(../images/login_login.gif) no-repeat;
}
#login_text table tr td input[type="submit"]{
	width:90px;
	height:26px;
	border:none;
	background:url(../images/login_login.gif) no-repeat;
}
/*login_footer*/
#login_footer{
	width:960px;
	margin:30px auto 30px;
	color:#787878;
}
#login_footer p{
	margin:10px auto;
	text-align:center;
}
#login_footer p span{
	margin-right:10px;
}
#username  input{
	width:180px;
}
#password  input{
	width:180px;
}
/*-------------------------登录页面--结束-----------------*/


/*------------后台框架开始包括上部和左侧---------------------*/
#header{
	background: #1886B4 url(../images/top_icon.png) no-repeat;
	width:100%;
	min-width:960px;
}
#header ul{
    padding-top:10px;
	padding-right:30px;
	padding-bottom:10px;
	height:16px;
	clear:right;
}
	
#header li {
  float:right;
	font-family:"微软雅黑";
	color:#FFFFFF;
	font-size:12px;
}	

#header #reset_password{
	background: url(../images/mima.gif) no-repeat left center;
	padding-left:15px;
	margin-right:22px;
}
#header #login_out{
	background: url(../images/tuichu.gif) no-repeat left center;
	padding-left: 15px;
}
#header a{
	color:#FFFFFF;
	font-weight: bold;
	font-size:12px;
}
#header a:hover,
#header a:active,
#header a:focus{
	color:#afe3ff;
}


#down{
	background-color:#2894FF;
	width:100%;
}
#down ul{
	height:32px;
	float:left;
	clear:left;
}
#down ul li{
	float:left;
	text-align:center;
	font-size:16px;
	padding:0;
	color:#2EC2FF;
	font-weight:bold;
	height:32px;
}
#down ul #tr{
	line-height:32px;
	padding:0 10px 0;
}
#down ul li a{
	color:#FFFFFF;
	text-decoration:none;
	line-height:32px;
	padding:8px 20px 8px;
	font-size:14px;
}
#down ul li a:hover{
	background-color:#267596;
}
#down p{
	float:right;
	line-height:32px;
	color:#FFFFFF;
	font-weight:bold;
	font-size:14px;
}
#down p span{
	padding-right:32px;
	padding-left:30px;
	font-weight:100px;
	font-size:12px;
}
/*left*/
.left{
	width:175px;
	height:1100px;
	background-color:#E6E6E6;
}
.left ul{
	padding-top:7px;
}
.left li{
	height:40px;
	}
.left ul li a{
	display:block;
	width:129px;
	height:40px;
	padding-left:44px;
	line-height:40px;
	border:1px #E6E6E6 solid;
	border-right: none;
	border-left:2px solid #F0F0F0;
	text-decoration:none;
	color:#646464;
	font-size:14px;
	font-weight:bold;
}
.left1{
	background: #F0F0F0 url(../images/add.gif) no-repeat 10px;
}
.left2{
	background: #F0F0F0 url(../images/add.gif) no-repeat 10px;
}
.left3{
	background: #F0F0F0 url(../images/littleman.gif) no-repeat 10px;
}

.left5{
	background: #F0F0F0 url(../images/tool.gif) no-repeat 10px;
}
.left6{
	background: #F0F0F0 url(../images/circle.gif) no-repeat 10px;
}
.left7{
	background: #F0F0F0 url(../images/turn.gif) no-repeat 10px;
}
.left11{
	background: #F0F0F0 url(../images/group.gif) no-repeat 8px;
}
.left12{
	background: #F0F0F0 url(../images/left12.gif) no-repeat 8px;
}
.left13{
	background: #F0F0F0 url(../images/left13.gif) no-repeat 8px;
}
.left14{
	background: #F0F0F0 url(../images/page.gif) no-repeat 10px;
}
.left15{
	background: #F0F0F0 url(../images/left15.gif) no-repeat 8px;
}

.left1:hover{
	background: #fff url(../images/add.gif) no-repeat 10px;
	border-left:2px #007BB1 solid;
}
.left2:hover{
	background: #fff url(../images/add.gif) no-repeat 10px;
	border-left:2px #007BB1 solid;
}
.left3:hover{
	background: #fff url(../images/littleman.gif) no-repeat 10px;
	border-left:2px #007BB1 solid;
}
.left5:hover{
	background: #fff url(../images/tool.gif) no-repeat 10px;
	border-left:2px #007BB1 solid;
}
.left6:hover{
	background: #fff url(../images/circle.gif) no-repeat 10px;
	border-left:2px #007BB1 solid;
}
.left7:hover{
	background: #fff url(../images/turn.gif) no-repeat 10px;
	border-left:2px #007BB1 solid;
}
.left11:hover{
	background: #fff url(../images/group.gif) no-repeat 8px;
	border-left:2px #007BB1 solid;
}
.left12:hover{
	background: #fff url(../images/left12.gif) no-repeat 8px;
	border-left:2px #007BB1 solid;
}
.left13:hover{
	background: #fff url(../images/left13.gif)  no-repeat 8px;
	border-left:2px #007BB1 solid;
}
.left14:hover{
	background: #fff url(../images/page.gif)  no-repeat 10px;
	border-left:2px #007BB1 solid;
}
.left15:hover{
	background: #fff url(../images/left15.gif)  no-repeat 8px;
	border-left:2px #007BB1 solid;
}


.left .left6_1,
.left .left6_2,
.left .left6_3,
.left .left6_4,
.left .left6_5,
.left .left6_6,
.left .left2_1,
.left .left2_2,
.left .left13_1,
.left .left13_2,
.left .left13_3,
.left .left13_4,
.left .left13_5,
.left .left13_6,
.left .left13_7,
.left .left14_1,
.left .left14_2,
.left .left15_1,
.left .left15_2,
.left .left15_3,
.left .left3_1,
.left .left3_2,
.left .left3_3{
	background:#FFFFFF url(../images/dian.gif) no-repeat 35px;
	height:30px;
	display:none;
}
.left .left13_1 a,
.left .left13_2 a,
.left .left13_3 a,
.left .left13_4 a,
.left .left13_5 a,
.left .left13_6 a,
.left .left13_7 a,
.left .left14_1 a,
.left .left14_2 a,
.left .left15_1 a,
.left .left15_2 a,
.left .left15_3 a,
.left .left2_1 a,
.left .left2_2 a,  
.left .left3_1 a,
.left .left3_2 a,
.left .left3_3 a,
.left .left6_1 a, 
.left .left6_2 a, 
.left .left6_3 a, 
.left .left6_4 a,
.left .left6_5 a,
.left .left6_6 a{
	font-size:12px;
	color:#999;
	line-height:30px;
	padding-left:60px;
	border:0px;
}
/*-------后台框架结束包括上部和左侧--------------------*/
/*-------欢迎页面开始--------------------*/
.scrollDiv {
	position:relative;
	overflow-x: scroll;/*必需*/
	top:0;
	left:0;
	scrollbar-face-color:#d9e4ef;
	scrollbar-highlight-color:#d9e4ef;
	scrollbar-shadow-color:#d9e4ef;
	scrollbar-3dlight-color:#d9e4ef;
	scrollbar-arrow-color:#000;
	scrollbar-track-color:#e5edf4;
	scrollbar-darkshadow-color:#a3b6c6;
	scrollbar-base-color:#d9e4ef;
}
#welcome_container{
	min-width:785px;
}
#welcome_container a:link,#welcome_container a:visited,#welcome_container a:active{
	text-decoration:none;
	color:#66abd4;
}
/*Admin*/
#welcome_text{
	margin:20px 0px 20px 45px;
}
#welcome_text h2{
	width:760px;
	padding-bottom:20px;
	margin-left:10px;
}
#wel{
	font-size:20px;	
	font-weight:bold;
	margin:0px 10px 0px 0px;
}
/*Admin*/
#user{
	font-weight:normal;
	font-size:20px;		
	color:#258cb9;
}
/*角色、登录信息*/
#admin_info{
	width:752px;
	font-size:12px;
	padding:0px 0px 20px 10px;
	border-bottom:1px solid #CCC;
}
#admin_info ul{
	list-style-type:none;
}
#admin_info ul li{
	padding:2px 0px;
}
/*用户贡献*/
#welcome_container #welcome_apply_power1{
	margin-bottom:40px;
}
#welcome_container #welcome_apply_power1 table{
	width:760px;
}

/*用户授权、操作记录*/
#welcome_container h3{
	font-size:16px;
	font-weight:bold;
	width:700px;
	margin:0px 0px 0px 45px;
}
#welcome_container h3.h3_type{
	margin:0px 0px 30px 45px;
	padding:30px 0px 10px;
	border-bottom:1px dashed #CCC;
}
#welcome_container h3 a{
	float:right;
	text-decoration:none;
}
#welcome_container #welcome_apply_power1 h3 span{
	font-size:16px;
	font-weight:bold;
	padding-left:25px;
	background:url(../images/resource.png) no-repeat;
}

#welcome_container table {
	margin:15px 0px 0px 45px;
	background-color:#ffffff;
}
#welcome_container table td{
	border-bottom:1px dashed #CCC;
	text-align:left;
	padding:10px;
	max-width:400px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
#welcome_container table form{
	margin-left:0px;
}

/*--------欢迎页面结束--------------*/
/*--------账户信息页面开始--------------*/
.account{
	min-width:600px;
	margin:20px 30px 0 20px ;
}
.account_info{
	color: #0893EB;
	height:29px;
	background:url(../images/Account_management.gif) no-repeat;
	background-position:5px -2px;
	padding-bottom:15px;
	border-bottom:1px dashed #ccc;
}
.account_info label{
	font-weight:bold;
	font-size:16px;
	float:left;
	margin-top:5px;
	margin-left:35px;
}
.account .account_content{
	text-align:center;
	background:#e9f5ff;
	width:500px;
	margin:10px 0 0 100px;
	padding:20px 0;
	border:#72beff solid 1px;
}
.account table{
	margin-bottom:20px;
	margin:0 auto;
}

.account table th{
	text-align:right;
	width:80px;
	padding:5px 5px;
	font-weight:bold;
}
.account table td{
	padding:5px;
	width:200px;
}
.account table td input{
	width:200px;
}

/*复选框*/
.account .select{
	width:200px;
	font-size:13px;
	color:#333333;
	border:#999999 1px solid;
}

/*--------账户信息页面结束--------------*/
/*--------建设中页面开始---------------*/
#constructing-left{
	width:175px;
	height:1100px;
	background-color:#828282;
}
#constructing-left ul{
	color:#ffffff;
	padding-top:170px;
	margin:0px 30px 0px 35px;
	background-color:#828282;
}
#constructing-left ul li{
	color:#ffffff;
	background-color:#828282;
}
#con1{
	font-size:14px;
}
#con2{
	font-size:24px;
	font-weight:bold;
}
#constructing-right{
	width:100%;
	height:280px;
	margin-top:65px;
	text-align:center;
	background-color:#ebebeb;
	vertical-align:middle;
}
#constructing-right img{
	margin:36px auto;
}
/*--------建设中页面结束---------------*/
/*--------授权小窗口开始---------------*/
#welcome_container #welcome_apply1 h3 span{
	font-size:16px;
	font-weight:bold;
	padding-left:25px;
	background:url(../images/resource.gif) no-repeat;
}
#welcome_container #welcome_apply2 h3 span{
	font-size:16px;
	font-weight:bold;
	padding-left:25px;
	background:url(../images/authority.gif) no-repeat;
}
#welcome_container #welcome_apply2 table{
	width:760px;
}
#welcome_container #main_footer{
	width:400px;
	margin:5px auto;
}
#welcome_container #main_footer a{
	width:400px;
	margin:5px auto;
	color: #7b7b7b;
}
/*--------授权小窗口结束---------------*/
/*--------操作记录小窗口开始---------------*/
#process{
	width:300px;
	float:left;
}
#process h1{
	font-size:20px;
	font-weight:bold;
	margin:40px 0px 30px 20px;
	color:#19A97B;
}
#process input{
	border:1px solid #A4A4A4;
	float:right;
}
/*--------操作记录小窗口结束---------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*------------检索审核页面开始----------------------*/
/*快速高级检索导航*/
#sub_retrieval{
	margin-left:10px;
}
#sub_retrieval a{
	width:75px;
	padding:0px 5px 5px 0px;
	font-weight:bold;
	font-size:16px;
}
#sub_retrieval a:link,#sub_retrieval a:visited{
	color:#767676;
	text-decoration:none;
}
#sub_retrieval a:hover{
	color:#2DA1ED;
	text-decoration:none;
}
#gaojijs{
	height:30px;
	width:100px;
	float:left;
}
#gaojijs a:active{
	background:url(../images/fg/search_fast_first.gif) no-repeat 0px 20px;
}
#kuaisjs{
	height:30px;
	width:100px;
	float:left;
}
/*---------快速检索体------------------*/
.advsearch_info{
	background:#f0f0f0;
	padding:10px;
	line-height:26px;
}
.advsearch_info form ul{
	list-style-type:none;
}
.advsearch_info form ul li{
	line-height:40px;
	float:left;
	padding:0px 10px 0px 5px;
}
.advsearch_info input[type="text"]{
	width:100px;
	margin-right:10px;
}
.advsearch_info select{
	width:150px;
	margin-right:20px;
}
.advsearch_info span input[type="image"]{
	vertical-align:middle;
	padding-right:10px;
}
.advsearch_info span input[type="image"]：hover{
	cursor:pointer;
}
/*-----高级检索体-------*/
#advance_retrieval{
	border-bottom:1px dashed #CCC;
	clear:both;
}
.advance1{
	margin:5px auto;
}
.advance2{
	margin:5px auto;
}
/*.tabletype_02高级检索表1 begin*/
.tabletype_02{
	color:#646464;
	font-weight:bold;
	margin:5px 30px 10px 0px;
}
.td1{width:60px;}
.td2{width:130px;}
.td3{width:400px;}
.tabletype_02 td {
	font-size:14px;
	padding: 10px 15px;
	vertical-align:middle;
}
.tabletype_02 td input{
	border:1px solid #a7a7a6;
	background:#f2f2f2;
}
.tabletype_02 td input[type="text"]{
	vertical-align:middle;
	width:404px;
}
.tabletype_02 td input[type="text"]:hover{
	background:#E8F5FD;
}
/*.tabletype_02高级检索表1 end*/
/*.tabletype_03高级检索表2* begin*/
.tabletype_03{
	color:#646464;
	font-weight:bold;
}
.ad3_td{
	width:220px;
	text-align: right;
	}
.tabletype_03 td {
	font-size:14px;
	padding: 10px 15px;
	height:16px;
	line-height: 16px;
	vertical-align:middle;
}
.date input[type="text"]{
	border:1px solid #a7a7a6;
	background:#ecf3f9 url(../images/datePicker.gif) no-repeat;
	background-position:98% 50%;
	width:195px;
}
/*.tabletype_03高级检索表2 end*/

/*重置搜索按钮*/
.search_reset{
	width:240px;
	margin:10px auto;
}
.search_reset input{
	margin-right:50px;
}
/*结果表操作按钮行 添加、删除……*/
.add_delete{
	margin:20px 0 10px 5px;
}
.add_delete input{
	margin-right:15px;
}

/*结果表页码部分*/
.pagetype_01{
	font-size:12px;
	margin:20px 0px;
	text-align: center;
}
.pagetype_01 input[type="text"]{
	width:40px;
	height:16px;
	border:1px solid #A7A7A7;
	text-align:center;
}
.page{
	font-size:12px;
	color:#B8B8B8;
	background:#fff;
	border:1px solid #A7A7A7;
	padding:0 5px;
	margin:0 5px;
}
.button_sure{
	margin-left:15px;
	border:1px solid #A7A7A7;
}
.selecttype{
	width:130px;
}
/*------------检索审核页面结束----------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*------------录入页面开始----------------------*/
.lr h2{
	font-size:16px;
	font-weight:bold;
	margin:0px 0px 5px 0px;
	padding-left:50px;
	padding-bottom:20px;
	color:#646464;
	background:url(../images/add1.gif) no-repeat 20px 0;
	height:20px;
	border-bottom:1px dashed #CCC;
}
.lr .people_info{
	margin:5px 0px 20px 65px;
}
.lr .people_info span{
	font-size:12px;
	color:#a1a1a1;
	padding-right:20px;
}
.lr form{
	width:100%;
}
.lr table{
	width:100%;
	text-align:right;
}
.lr th{
	width:140px;
	vertical-align:middle;
}
.lr td{
	vertical-align:middle;
}
.lr table tr{
	height:40px;
}
.lr label{
	text-align:right;
	float:right;
	font-size:13px;
	color:#646464;
	padding-right:20px;
}
.lr input[type="text"]{
	width:200px;
	border:#999999 1px solid;
}
.lr textarea{
	border:#999999 1px solid;
}
.lr input[type="text"]:hover{
	background:#E8F5FD;
}
.lr input[type="file"]{
	width:70px;
}
/*复选框*/
.lr .select{
	width:200px;
	font-size:13px;
	color:#333333;
	border:#999999 1px solid;
}
/*加号文本框*/
.lr .add{
	background:#FFF8D1;	
}
.lr td .add:hover{
	background:#FFF8D1;	
}
.lr span{
	font-size:14px;
	border-right:13px;
}
.addauthor_01{
	font-size:14px;
	color:#66abd4;
	float:left;
	margin:10px 0px 0px 5px;
}
/*textarea文本框*/
.abstract{
	width:448px;
	padding:2px 1px;
	margin:10px 0px;
}
/*日历控件---优先级*/
.lr input.calendar{
	width:220px;
	background: #FFF8D1 url(../images/callendar.gif) right no-repeat;
	background-position:98%;
}
.lr span{
	line-height: 16px;
	font-size: 12px;
	color:#333333;
}
.lr .publicnew{
	margin-left:10%;
	margin-top:20px;
	magin-bottom:20px;
	}
.lr .publicnew input{
	margin:0 10px;
	}
	
/*发布与存档*/
.lr .public{
	margin-left:35%;
	margin-top:20px;
	magin-bottom:20px;
	}
.lr .public input{
	margin:0 10px;
	}
/*放大镜控件*/
.lr .big{
	margin-bottom:-6px;
	margin-left:10px;
}
/*减号控件*/
.lr .reduce{
	margin:0 0 -3px 105px;
	}
/*加号控件*/
.lr .addtype{
	margin:0 0 -3px 10px;
	}
/*排序*/
.lr input.lr_order{
	width:120px;
}
/*添加多个作者的信息块*/
.author_block .more_author{
	vertical-align:top;
}
.author_block .block{
	width:452px;
	height:52px;
	border:1px dashed #CCC;
	float:left;
	margin:10px 0px;
}
.block th{
	width:120px;
	vertical-align:middle;
}
.block td{
	vertical-align:middle;
}
.block td input[type="text"]{
	width:280px;
	}
.author_block label{
	margin-top:10px;
}
.block label{
	width:80px;
	margin-top:0px;
	padding-top:0px;
}
.author_block .block_reduce{
	margin:10px 5px 0px 155px;
}
.block .block_reduce{
	margin:0px 20px 0px 0px;
}

.author_block .add_block{
	margin:16% 0px 0px 5px;
	vertical-align:bottom;
	
}
.author_block td a span{
	font-size:14px;
	color:#66abd4;
	float:left;
	margin:10px 0px 0px 5px;
}
/*文献子库录入类型*/
.wx_lurutype{
	margin:5px 0px 30px;
	padding-bottom:20px;
}
.wx_lurutype form label{
	font-size:14px;
	font-weight:bold;
	float:left;
	margin-right:15px;
	padding:5px;
	vertical-align:bottom;
}
.wx_lurutype form ul{
	list-style-type:none;
	float:left;
}
.wx_lurutype form ul li{
	font-size:12px;
	color:#7c7c7c;
	background-color:#f0f0f0;
	float:left;
	margin:0px 3px;
}
.wx_lurutype a{
	text-decoration:none;
	color:#7c7c7c;
	display:block;
	padding:5px 20px;
}
.wx_lurutype a:link,.wx_lurutype a:visited{
	color:#7c7c7c;
}
.wx_lurutype a:hover{
	color:#FFF;
	background-color:#0893eb;
}
.wx_lurutype form ul li.act{
	background-color:#0893eb;
}
.wx_lurutype form ul li.act a{
	font-size:14px;
	color:#ffffff;
}
/*---------录入页面结束-------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*--动态树维护通用样式开始----------------------------------------*/
#dynamic_container{
	font-size:14px;
}
#dynamic_container p{
	font-weight:bold;
	margin-bottom:20px;
}
#dynamic_container table td{
	padding:5px 0px;
}
/*左边树结构*/
#dynamic_tree{
	width:250px;
	float:left;
	border-right:1px solid #CCC;
}
/*右边结构*/
#dynamic_main{
	float:left;
	margin:30px 0px 20px 30px;	
}
/*当前节点信息*/
#dynamic_currentnode{
	padding-bottom:30px;
	border-bottom:1px dashed #ccc;
}
#dynamic_currentnode p{
	background:url(../images/dynamic_logo1.gif) no-repeat;
	font-size:16px;
	padding-left:15px;
}
#dynamic_currentnode table td.d_td1{width:45px;text-align:right;}
#dynamic_currentnode table td.d_td2{width:200px;}
#dynamic_currentnode table td.d_td3{width:55px;text-align:right;}
#dynamic_currentnode table td.d_td4{width:170px;}
#dynamic_currentnode input[type="text"]{
	padding:0px;
	border:1px solid #a7a7a6;
	width:100%;
}
#dynamic_currentnode input[type="image"]{
	margin-right:10px;
}

/*子节点信息*/
#dynamic_childnode{
	margin-top:30px;
}
#dynamic_childnode p{
	background:url(../images/dynamic_logo2.gif) no-repeat;
	padding-left:15px;
}
#dynamic_childnode table{
	width:472px;
	border-left:1px solid #CCC;
	border-top:1px solid #CCC;
}
#dynamic_childnode table th.d_th1{width:100px;}
#dynamic_childnode table th.d_th2{width:100px;}
#dynamic_childnode table th.d_th3{width:100px;}
#dynamic_childnode table th.d_th4{width:200px;}
#dynamic_childnode table th{
	text-align:center;
	border-bottom:1px solid #CCC;
	border-right:1px solid #CCC;
	background-color:#e7e7e6;
	padding:5px 0px;
}
#dynamic_childnode table td{
	text-align:center;
	border-bottom:1px solid #CCC;
	border-right:1px solid #CCC;
}
#dynamic_childnode table td input[type="text"]{
	width:80px;
	text-align:left;
	font-size:14px;
	height:20px;
	font-family:"微软雅黑";
	border:1px solid #aaa;
}
#dynamic_childnode table td input[type="button"]{
	border: 1px solid #a7a7a6;
	background: #f2f2f2;
	cursor: pointer;
}

#dynamic_childnode table td span a{
	background:url(../images/dynamic_add.gif) no-repeat;
	background-position:0px 4px;
	padding-left:20px;
}
#dynamic_childnode table td a:link,#dynamic_childnode table td a:visited,#dynamic_childnode table td a:hover{
	color:#2DA1ED;
}
	
/*--动态树维护通用样式 结束----------------------------------------*/
/*--基础数据通用样式 开始-----------------------------------------*/
#BaseData_navi{
	height:40px;
	border-bottom:1px solid #e5e5e5;
}
#BaseData_navi ul{
	margin:20px 0px 0px 0px;
}
#BaseData_navi ul li{
	float:left;
	height:25px;
	margin-right:30px;
}
#BaseData_navi ul li a{
	font-size:16px;
	font-family:"宋体";
	font-weight:bold;
	padding-bottom:2px;
}
#BaseData_navi a:link,#BaseData_navi a:visited{
	color:#767676;
	text-decoration:none;
}
#BaseData_navi a:hover{
	color:#2DA1ED;
	text-decoration:none;
}

/*添加数据信息*/
.add-data{
	width:650px;
	margin:50px auto;
}
.add-data table{
	margin:auto;
	border-left:1px solid #CCC;
	border-top:1px solid #CCC;
}
.add-data table caption{
	font-size:16px;
	font-weight:bold;
	margin-bottom:20px;
}
.add-data table tr{
	font-size:14px;
}
.add-data table tr th{
	text-align:center;
	border-bottom:1px solid #CCC;
	border-right:1px solid #CCC;
	background-color:#e7e7e6;
	padding:5px 0px;
}
.add-data table tr td{
	text-align:center;
	border-bottom:1px solid #CCC;
	border-right:1px solid #CCC;
}
.add-data input[type="text"]{
	margin:10px;
	text-align:left;
	font-size:14px;
	height:20px;
	font-family:"微软雅黑";
	border:1px solid #aaa;
}
.add-data form table td .add_ad_td1{
	width:200px;
}
.add-data form table td .add_ad_td2{
	width:110px;
}
.add-data table td select{
	padding:2px;
	margin:10px;
}
.add-data table td span a{
	background:url(../images/dynamic_add.gif) no-repeat;
	background-position:0px 4px;
	padding:0px 20px 0px 20px;
	margin-left:10px;
}
.add-data table td a:link,.add-data table td a:visited,.add-data table td a:hover{
	color:#2DA1ED;
}
.add-data #base_submit{
	width:170px;
	margin:30px auto;
}
.submit_reset{
	margin:0px 20px;
}
/*--------基础数据通用样式 结束-----------------------*/
/*--系统设置 开始-----------------------------------*/
#system-settings h1{
	color:#46aef0;
	font-size:16px;
	font-weight:bold;
	margin:10px 0;
}
#system-settings table tr{
	height:80px;
	background:#f2f2f2;
	
}
#system-settings table tr:hover{
	background:#f7f7f7;

}
#system-settings table td{
	vertical-align:middle;
	font-size:16px;
	font-weight:bold;
	color:#5a5a5a;
	padding:0 20px;
	border-bottom: #FFF 10px solid;
}
#system-settings table td img{
	margin-left:20px;
}
/*--系统设置 结束-----------------------------------*/
/*-------------选择国家/地区 开始-------------------*/
.small_body{
	background-color:#ffe;
}
.select_level{
	width:710px;
	padding-top:20px;
	min-width:600px;
	margin:5px auto;
	background-color:#ffe;
}
.countrytype{
	border-bottom:1px dashed #CCC;
}
.countrytype form{
	width:650px;
	font-size:14px;
	padding-bottom:20px;
	margin:0px auto;
}
.countrytype form input{
	border: 1px solid #a7a7a6;
	}
.countrytype form input[type="text"]{
	margin:0px 5px 0px 10px;
}
.countrytype form input[type="button"]{
	background: #f2f2f2;
}
.countrytype form input.sure1{
	margin-right:10px;
}

.parts{
	padding:10px 0px 10px 10px;
	border-bottom:1px dashed #CCC;
}
.parts a{
	font-size:12px;
	padding:5px 10px 10px 5px;
}
.parts a:hover{
	color:#00f;
}
/*-------------选择国家/地区 结束-------------------*/
/*---------------------名家论文开始----------------*/
.famous_info{
	border-bottom: 1px dashed #CCC;
}
.famous_info form{
	width:600px;
	margin:5px auto;
}
.select_level input[type="button"]{
	background: #f2f2f2;
	border: 1px solid #a7a7a6;
}
.famous_info form select{
	margin-left:10px;
}
.famous_info form input.famous_input{
	width:300px;
	margin:0px 50px 15px 5px;
}
.famous_result{
	margin:20px auto;
}
.famous_result form table{
	width:100%;
	margin:5px auto;
	border:1px solid #969799;
}
.famous_result form table th{
	font-size:14px;
	background-color:#c0dbe7;
	color:#333;
	padding:5px;
	text-align:left;
	border:1px solid #fff;
	line-height:18px;
}
.famous_result form table td{
	background-color:#FFF;
	padding:5px;
	text-align:left;
	line-height:18px;
}
#paper_sure{
	width:50px;
	margin:10px auto;
}

/*---------------------名家论文结束-----------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/
/*--用户中心---------------------------------------------------------------------------*/
/*--检索页面---------*/
#search #time input{
	margin:0px;
	width:140px;
}
#search span{
	margin:0px;
}
#button_column input[type="image"]{
	vertical-align:middle;
}
#user_search table td span{
	color:#7e2121;
	font-size:12px;
}
/*--录入页面---------*/
.lr td .user_input{
	width:220px;
}
#user_insert table{
	padding-left:20%;
}
/*--角色管理页面--------*/
#user_role #button_column{
	margin-top:0px;
}
#user_role_manage #button_column{
	margin-top:0px;
}
/*添加多个工作经历和教育经历*/
/*
.lr .user_block{
	padding:20px;
	border:1px dashed #CCC;
	float:left;
	margin:10px 0px;
	width:600px;
}
.lr .care{
	width:620px;
}
.user_block th{
	width:90px;
	vertical-align:middle;
}
.user_block td{
	vertical-align:middle;
}
.user_block tr td .calendar{
	width:218px;
}
.user_block tr td textarea{
	width:445px;
}*/

/*--贡献录入页面（录入框）----*/
.devote_data{
	border:#999 dashed 1px;
	width:630px;
	margin-left:30px;
	margin-bottom:10px;
}
.devote_data table th{
	width:110px;
}
/*--好友标签页面-------------------*/
#usertable .tabletype_01 td img{
	vertical-align:-3px;
}
/*--好友标签和内容标签的内容页（三个页面）----------------------------------------*/
/*--好友标签内容页--------------*/
#user_tag_friend_content,
#user_tag_resource_content,
#user_tag_resource_content2{
	padding:20px 40px 20px 20px;
	min-width:500px;
}
.tag_friend h2{
	padding-left:20px;
	font-size:20px;
	font-weight: bold;
	margin:10px 0;
}
.tag_friend ul{
	margin-left:20px;
}
.tag_friend ul li{
	line-height:30px;
	background:url(../images/left11.gif) no-repeat 0 center;
	padding:0 20px;
}
.tag_friend p{
	border-bottom:#999 dashed 1px;
	margin-bottom:5px;
	margin-left:20px;
	line-height:35px;
}
.tag_friend p span{
	margin-right:20px;
	line-height:30px;
}
#tag_friend_01 ul li{
	float:left;
}
#user_tag_friend_content .tag_friend h2{
	background:url(../images/tag.gif) no-repeat 0 center;
}
/*--资源标签内容页----*/
#user_tag_resource_content .tag_friend h2{
	font-size:15px;
	font-weight:normal;
}
#user_tag_resource_content .tag_friend h2,
#user_tag_resource_content2 .tag_friend h2{
	background: url(../images/tag2.gif) no-repeat 0 center;
}
#user_tag_resource_content2 .tag_friend p{
	background:url(../images/dian.gif) no-repeat 0 center;
	padding-left:8px;
}
.tag_friend h2 span{
	font-size:20px;
	font-weight: bold;
	color:#900;
}


/*--群组管理头部页面切换----*/
.user_group ul{
	border-bottom:#999 dashed 1px;
	margin-bottom:10px;
}
.user_group ul li{
	float:left;
	margin:0px 15px 10px 15px;
}
.user_group ul li a{
	display:block;
	padding:3px 15px;
	border: #999 solid 1px;
	font-size:16px;
	font-weight: bold;
}
.user_group ul li h2{
	margin-top:10px;
}
.user_group .chengyuan a, 
.user_group .gonggao a, 
.user_group .fenxiang a, 
.user_group .wenjian a,
.user_group ul li a:hover{
	border:#2DA1ED solid 1px;
	color:#2DA1ED;
}
/*--分享内容页-------------*/
.share_content{
	padding:30px;
}
.share_content h2{
	background: url(../images/share_02.gif) no-repeat 0 center;
	padding-left:30px;
	font-size:16px;
	font-weight: bold;
	color:#2DA1ED;
	margin-bottom:10px;
}
.share_content th{
	font-weight:bold;
	width:100px;
	text-align:right;
	vertical-align:top;
	padding:10px;
}
.share_content td {
	padding:10px;
}
.share_content td li{
	background: url(../images/dian_02.gif) no-repeat 0 center;
	padding:0 20px 0 7px;
	float:left;
	line-height:25px;
}
/*--系统设置----------------------------------------------------------------------*/
/*--系统公告录入页面-------*/
#system_notice_insert td textarea{
	width:450px;
	height:100px;
	margin:0px;
	padding:0px;
}
#system_notice_insert .public{
	margin-left:300px;
}
/*-------------------------------------------用户个人主页内容------------------------------------------------------------*/
/*-------个人主页内容---开始---------*/
/*
#personalpage-content{
	width:960px;
	margin:0px auto;
}
*/
#personalpage-left{
	width:900px;
	margin:0px auto;
}
/*------内容基本信息--开始------*/
#personal-baseinfolist,#personal-baseinfoedit{
	background-color:#f8f8f8;
	margin:20px 0px;
	border-bottom:1px solid #f0f0f0;
}
/*----用户头像--开始-----*/
#baseinfo-photo,#baseinfo-photoedit{
	width:130px;
	padding:20px 30px 20px 30px;
	float:left;
}
#baseinfo-photo img,#baseinfo-photoedit img{
	width:130px;
	height:160px;
	border:4px solid #fff;
}
#baseinfo-photo p,#baseinfo-photoedit p{
	width:130px;
	text-align:center;
}
/*----用户头像--结束-----*/
/*----用户基本信息--开始-----*/
#baseinfo-text,#baseinfo-edit{
	float:left;
	padding:20px 0px 0px 10px;
	float:left;
}
#personal-name{
	font-size:18px;
	font-weight:bold;
	color:#21a9ff;
}

#personal-address{
	margin-top:10px;
}
#personal-job{
	margin-top:10px;
}
#baseinfo-edittips{
	font-size:13px;
	height:30px;
	line-height:30px;
	color:#999;
}
#baseinfo-photo p a,#baseinfo-photoedit p a{
	cursor:pointer;
	color:#06f;
}
#baseinfo-photo p a:hover,#baseinfo-photoedit p a:hover{
	text-decoration:none;
	color:#00f;
}
#personal-contactlist ul li{
	float:left;
	width:250px;
}
#personal-contactlist ul li input{
	width:330px;
}
.personal-title{
	width:650px;
	margin-top:20px;
}
.personal-titletext{
	font-size:16px;
	font-weight:bold;
	height:30px;
}
.add-icon{
	width:10px;
	height:22px;
	display:inline-block;
	background:url(images/personal-add.gif) no-repeat;
	background-position:0px 5px;
	margin-right:10px;
	cursor:pointer;
}
/*---列表样式--开始---*/
#self-introduce{
	font-size:13px;
	letter-spacing:1px;
}
#personal-introlist{
	padding:10px 10px 15px 0px;
}
.personal-list{
	border-bottom:1px solid #e9e9e9;
	padding:10px 0px 15px 0px;;
}
#personal-eduexplist{
	border-bottom:none;
}
.personal-list ul li{
	padding:3px 0px;
	line-height:22px;
}
/*-------------------用户个人主页内容---结束------------------*/

/*------主页-系统公告--开始----------*/
#system-notice{
	width:800px;
	margin:0 auto;
	margin-top:10px;
	/*border:1px solid #ccc;*/
	padding-top:10px;
	/*border-bottom:none;*/
}
#system-notice-right{
    float:right;
	width:10px;
}
#system-notice-left{
    margin:0 auto;
	width:650px;
	padding-bottom:30px;
}
#system-notice-left h2{
	width:70px;
    font-size:16px;
	font-weight:bold;
	color:#2E8DC0;
	border-bottom:2px solid #2E8DC0;
}
#system-notice-content{
	border-top:1px solid #2E8DC0;
	padding-top:15px;
}
#system-notice-left #system-notice-content ul li{
    border-bottom:1px dotted #ccc;
	padding-top:10px;
}
#system-notice-left #system-notice-content ul li em{
	color:#6c7174;
	padding-left:5px;
	}
#system-notice-left #system-notice-content ul li span{
	float:right;
	padding-right:15px;
	color:#6c7174;
}
#system-notice-left #system-notice-content ul li a{
	color:#4c4c4c;
}
#system-notice-left #system-notice-content ul li a:hover{
text-decoration:underline;}
.notice-title{
	padding:12px 12px;
	font:bold 20px 微软雅黑;
	text-align:center;
}
#notice-top{
	width:600px;
	margin:0 auto;
	text-align:center;
	padding-bottom:8px;
	border-bottom:1px dotted #ccc;
	margin-bottom:20px;
}
#notice-top span{
	padding-left:10px;
	color:#4c4c4c;
	font-size:12px;
}
.notice-content{
	padding:5px 10px;
	margin-bottom:30px;
}
.notice-content p{
	text-indent:2em;
	padding-bottom:20px;
}

/*------主页-系统公告--结束----------*/

