<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>mygps</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>userLogin</servlet-name>
    <servlet-class>com.servlet.userLogin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>userLoginOut</servlet-name>
    <servlet-class>com.servlet.userLoginOut</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getLoginUser</servlet-name>
    <servlet-class>com.servlet.getLoginUser</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>initMainPageNewsList</servlet-name>
    <servlet-class>com.servlet.initMainPageNewsList</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>newsGetObjectById</servlet-name>
    <servlet-class>com.servlet.newsGetObjectById</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>downloadFile</servlet-name>
    <servlet-class>com.servlet.downloadFile</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>doTeacherUpload</servlet-name>
    <servlet-class>com.servlet.doTeacherUpload</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getTeacher</servlet-name>
    <servlet-class>com.servlet.getTeacher</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>yanzheng</servlet-name>
    <servlet-class>com.servlet.yanzheng</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>newTeacher</servlet-name>
    <servlet-class>com.servlet.newTeacher</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>updateTeacher</servlet-name>
    <servlet-class>com.servlet.updateTeacher</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deleteTeacher</servlet-name>
    <servlet-class>com.servlet.deleteTeacher</servlet-class>
  </servlet>
  <!--<servlet>-->
    <!--<description>This is the description of my J2EE component</description>-->
    <!--<display-name>This is the display name of my J2EE component</display-name>-->
    <!--<servlet-name>lookTeacher</servlet-name>-->
    <!--<servlet-class>com.servlet.lookTeacher</servlet-class>-->
  <!--</servlet>-->
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>newAdmin</servlet-name>
    <servlet-class>com.servlet.newAdmin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>updateAdmin</servlet-name>
    <servlet-class>com.servlet.updateAdmin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getAdmin</servlet-name>
    <servlet-class>com.servlet.getAdmin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deleteAdmin</servlet-name>
    <servlet-class>com.servlet.deleteAdmin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>newBus</servlet-name>
    <servlet-class>com.servlet.newBus</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>updateBus</servlet-name>
    <servlet-class>com.servlet.updateBus</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deleteBus</servlet-name>
    <servlet-class>com.servlet.deleteBus</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getBus</servlet-name>
    <servlet-class>com.servlet.getBus</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>newStation</servlet-name>
    <servlet-class>com.servlet.newStation</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>updateStation</servlet-name>
    <servlet-class>com.servlet.updateStation</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deleteStation</servlet-name>
    <servlet-class>com.servlet.deleteStation</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getStation</servlet-name>
    <servlet-class>com.servlet.getStation</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>collegeInfoUploader</servlet-name>
    <servlet-class>com.servlet.collegeInfoUploader</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>newReguBus</servlet-name>
    <servlet-class>com.servlet.newReguBus</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>updateReguBus</servlet-name>
    <servlet-class>com.servlet.updateReguBus</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deleteReguBus</servlet-name>
    <servlet-class>com.servlet.deleteReguBus</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getReguBus</servlet-name>
    <servlet-class>com.servlet.getReguBus</servlet-class>
  </servlet>
  <!--<servlet>-->
    <!--<description>This is the description of my J2EE component</description>-->
    <!--<display-name>This is the display name of my J2EE component</display-name>-->
    <!--<servlet-name>saveNews</servlet-name>-->
    <!--<servlet-class>com.servlet.saveNews</servlet-class>-->
  <!--</servlet>-->
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>updateNews</servlet-name>
    <servlet-class>com.servlet.updateNews</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>newNews</servlet-name>
    <servlet-class>com.servlet.newNews</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deleteNews</servlet-name>
    <servlet-class>com.servlet.deleteNews</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getNews</servlet-name>
    <servlet-class>com.servlet.getNews</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>passwordModify</servlet-name>
    <servlet-class>com.servlet.passwordModify</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getMenuList</servlet-name>
    <servlet-class>com.servlet.getMenuList</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>newMenu</servlet-name>
    <servlet-class>com.servlet.newMenu</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>updateMenu</servlet-name>
    <servlet-class>com.servlet.updateMenu</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deleteMenu</servlet-name>
    <servlet-class>com.servlet.deleteMenu</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>createMenu</servlet-name>
    <servlet-class>com.servlet.createMenu</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CoreServLet</servlet-name>
    <servlet-class>org.zstuky.wechat.servlet.CoreServLet</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>userLogin</servlet-name>
    <url-pattern>/servlet/userLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userLoginOut</servlet-name>
    <url-pattern>/servlet/userLoginOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getLoginUser</servlet-name>
    <url-pattern>/servlet/getLoginUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>initMainPageNewsList</servlet-name>
    <url-pattern>/servlet/initMainPageNewsList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newsGetObjectById</servlet-name>
    <url-pattern>/servlet/newsGetObjectById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>downloadFile</servlet-name>
    <url-pattern>/servlet/downloadFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>doTeacherUpload</servlet-name>
    <url-pattern>/servlet/doTeacherUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getTeacher</servlet-name>
    <url-pattern>/servlet/getTeacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>yanzheng</servlet-name>
    <url-pattern>/servlet/yanzheng</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newTeacher</servlet-name>
    <url-pattern>/servlet/newTeacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateTeacher</servlet-name>
    <url-pattern>/servlet/updateTeacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteTeacher</servlet-name>
    <url-pattern>/servlet/deleteTeacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newAdmin</servlet-name>
    <url-pattern>/servlet/newAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateAdmin</servlet-name>
    <url-pattern>/servlet/updateAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getAdmin</servlet-name>
    <url-pattern>/servlet/getAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteAdmin</servlet-name>
    <url-pattern>/servlet/deleteAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newBus</servlet-name>
    <url-pattern>/servlet/newBus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateBus</servlet-name>
    <url-pattern>/servlet/updateBus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteBus</servlet-name>
    <url-pattern>/servlet/deleteBus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getBus</servlet-name>
    <url-pattern>/servlet/getBus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newStation</servlet-name>
    <url-pattern>/servlet/newStation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateStation</servlet-name>
    <url-pattern>/servlet/updateStation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteStation</servlet-name>
    <url-pattern>/servlet/deleteStation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getStation</servlet-name>
    <url-pattern>/servlet/getStation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>collegeInfoUploader</servlet-name>
    <url-pattern>/servlet/collegeInfoUploader</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newReguBus</servlet-name>
    <url-pattern>/servlet/newReguBus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateReguBus</servlet-name>
    <url-pattern>/servlet/updateReguBus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteReguBus</servlet-name>
    <url-pattern>/servlet/deleteReguBus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getReguBus</servlet-name>
    <url-pattern>/servlet/getReguBus</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>updateNews</servlet-name>
    <url-pattern>/servlet/updateNews</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newNews</servlet-name>
    <url-pattern>/servlet/newNews</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteNews</servlet-name>
    <url-pattern>/servlet/deleteNews</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getNews</servlet-name>
    <url-pattern>/servlet/getNews</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>passwordModify</servlet-name>
    <url-pattern>/servlet/passwordModify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getMenuList</servlet-name>
    <url-pattern>/servlet/getMenuList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newMenu</servlet-name>
    <url-pattern>/servlet/newMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateMenu</servlet-name>
    <url-pattern>/servlet/updateMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteMenu</servlet-name>
    <url-pattern>/servlet/deleteMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>createMenu</servlet-name>
    <url-pattern>/servlet/createMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CoreServLet</servlet-name>
    <url-pattern>/servlet/CoreServLet</url-pattern>
  </servlet-mapping>
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
</web-app>