body {
    overflow: hidden;
}
/*内容区开始*/
.sidenav .list-group-item i {
    display: inline-block;
    /*vertical-align: text-bottom;*/
    width: 16px;
    height: 16px;
    background: url(https://dummyimage.com/16x16/000/fff) no-repeat;
}
.sidenav .list-group-item:first-child i {
    background: none;
}

.contain {
    position: relative;
}
.contain .breadcrumb {
    font-size: 16px;
    margin-bottom: 10px;
}
.contain .form-group {
    position: absolute;
    top: 60px;
    z-index: 100;
}
.contain .form-group .form-control {
    height: 37px;
}
.contain .search {
    right: 150px;
}

.contain .refresh {
    position: absolute;
    right: 35px;
    top: 60px;
    z-index: 100;
}
.contain #map {
    height: 500px;
    background-color: #ccc;
}
/*内容区结束*/
/*响应式模块开始*/
@media (max-width: 767px){
    .header {
        margin-bottom: 0;
    }
    .main {
        padding: 0;
    }
    .main .col-sm-9 {
        padding: 0;
    }
    .contain .search {
        left: 15px;
        right: auto;
    }
    .contain .station {
        right: 15px;
        left: auto;
    }
    .contain .search,
    .contain .refresh,
    .contain .station{
        top: 15px;
    }
    body .bottom-nav {
        display: flex;
    }
}

/*手机底部导航条开始*/
.bottom-nav {
    position: absolute;
    left: 0;
    bottom: 0;
    /*height: 40px;*/
    height: 50px;
    width: 100%;
    background-color: #f8f8f8;
    display: none;
    justify-content: space-between;
    padding: 0 15px;
    line-height: 1;
    border-top: 1px solid #f5f3f0;
    z-index: 100;
}
.bottom-nav a {
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    width: 50px;
    color: #777;
    text-decoration: none;
    padding-top: 5px;
}
.bottom-nav a:hover {
    color: #fff;
    background-color: #ccc;
    line-height: 1;
}
.bottom-nav a i {
    font-size: 25px;
}

.bottom-nav a span {
    display: inline-block;
    font-size: 10px;
    vertical-align: 10px;
    line-height: 1;
}

/*手机底部导航条结束*/
/*手机站点弹窗开始*/
.station-pop {
    position: absolute;
    left: 0;
    bottom: -70px;
    width: 100%;
    background-color: #fff;
    color: #777;
    z-index: 99;
}
.station-pop .station-drop {
    text-align: center;
    height: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid  #f5f3f0;
    border-bottom: 1px solid  #f5f3f0;
}
.station-pop h4 {
    padding: 0 15px;
}
/*手机站点弹窗结束*/
/*响应式模块结束*/
