html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.body-in {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 991px;
    position: relative;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #eaeaea;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 1000px #eaeaea inset !important;
}


/*头部开始*/

.header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #5693fe;
    padding-left: 15px;
    padding-right: 8px;
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.header .back {
    font-size: 16px;
    color: #fff;
    margin-right: 20px;
}

.header h3 {
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
}

.header .forget {
    font-size: 14px;
    color: #ffffff;
    float: right;
}


/*头部结束*/


/*内容区开始*/

.main {
    width: 100%;
    margin-top: 90px;
}

.main .line {
    position: relative;
    height: 40px;
    line-height: 40px;
    margin: 0 25px 10px 25px;
    border-bottom: 2px solid #8B8B8B;
    box-sizing: border-box;
}

.main .line:last-child {
    border-bottom: none;
}

.main .line label {
    display: inline-block;
    font-size: 20px;
    padding: 0 5px;
}

.main .line input {
    border: none;
    color: #8B8B8B;
    font-size: 14px;
    margin-left: 5px;
    background-color: #eaeaea;
    outline: none;
    width: 80%;
}

.focus {
    border-bottom-color: #51acfe !important;
}

.focus label {
    color: #51acfe;
}

.main .line button {
    border: none;
    outline: none;
    width: 100%;
    height: 36px;
    font-size: 18px;
    background-color: #99CCFF;
    /*background-color: #51acfe;*/
    color: #fff;
    border-radius: 3px;
    margin-left: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.main .code-img {
    position: absolute;
    right: 0;
    top: 5px;
    width: 60px;
    height: 25px;
    /* background-color: red; */
}


/*内容区结束*/


/*消息弹窗开始*/

.message {}


/*消息弹窗结束*/