<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置自定义的userRealm -->
    <bean id="userRealm" class="com.ky.gps.component.shiro.realm.UserRealm">
        <!-- 密码需要加密 -->
        <!--<property name="credentialsMatcher" ref="credentialsMatcher" />-->
    </bean>

    <bean id="mySessionManager" class="com.ky.gps.component.shiro.manager.MySessionManager"/>

    <!-- 配置安全管理器SecurityManager -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="userRealm"/>
        <property name="sessionManager" ref="mySessionManager"/>
        <!-- 添加缓存 -->
        <property name="cacheManager" ref="cacheManager"/>
    </bean>

    <!-- 定义ShiroFilter -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login/warning"/>
        <property name="unauthorizedUrl" value="/m/authority/no"/>
        <property name="filterChainDefinitions">
            <value>
                /logout = logout
                / = anon
                /bms/** = anon
                /blockBreaker/** = anon
                /logFile/** = anon
                /realTime/** = anon
                /realTime1/** = anon
                /bcs/** = anon

                /druid/** = anon
                /user/login = anon
                /user/admin/login = anon
                /user/send/email = anon
                /user/modify/pwd/email = anon
                /api/** = anon
                /login/** = anon
                /code/** = anon
                /** = authc
            </value>
        </property>
    </bean>

    <!-- 缓存管理器开始 -->
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManager" ref="ehCacheManager"/>
    </bean>
    <bean id="ehCacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:cache/shiro-ehcache.xml"/>
        <property name="shared" value="true"/>
    </bean>

    <!-- 加密器 -->
    <!--<bean id="credentialsMatcher"-->
    <!--class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">-->
    <!--&lt;!&ndash; 加密算法 &ndash;&gt;-->
    <!--<property name="hashAlgorithmName" value="md5" />-->
    <!--&lt;!&ndash; 散列次数 &ndash;&gt;-->
    <!--<property name="hashIterations" value="3" />-->
    <!--</bean>-->

</beans>
